:root {
  --primary-color: #212529;
  --secondary-color: #38393a;
  --page-color: rgb(250, 255, 206);
}

body,
html {
  font-size: 1rem;
  /* makes all font larger */
}

/* All of the html */
#page-container {
  background: rgb(139, 139, 109);
  background: linear-gradient(
    90deg,
    rgba(139, 139, 109, 1) 0%,
    rgba(184, 190, 124, 1) 35%,
    rgba(139, 139, 109, 1) 100%
  );
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Gives background color
     Allows footer to sit on the bottom
  */
}

/* everything except the header */
#page-main {
  display: flex;
  justify-content: space-between;
  /* sperates content from nav */
}

/* everything except header and sidenav */
#page-content {
  display: flex;
  justify-content: center;
  flex: 1;
}

.header-brand {
  display: flex;
  align-items: center;
  /* keeps brand title and image centered */
}

.sidenav {
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 150px;
  height: 100vh;
  flex-shrink: 0;
  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.sidenav > .sidenav-link {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.sidenav > .sidenav-link:hover {
  color: white;
  background-color: rgb(114, 114, 114);
}

.sidenav > .sidenav-link.active {
  background-color: var(--page-color);
  color: #030000;
}

/* middle clicking links retain properties */
.sidenav > .sidenav-link:focus {
  color: #ffffff;
}

.grades-table th,
.grades-table td {
  width: 20%;
  /* Equal width for each cell, 100%/5 cells */
}

/* calender */
tbody {
  background-color: white;
}

thead {
  background-color: grey;
}

/* calender header text */
.fc-col-header-cell-cushion {
  color: #000000;
}

/* calender body text */
.fc-daygrid-day-number {
  color: #000000;
}

@media (max-width: 1030px) {
  /* sets sidebar to the top of the screen */
  .nav {
    flex-wrap: nowrap !important;
  }

  .sidenav {
    font-size: 1rem;
    flex-direction: row;
    width: 100vw;
    height: auto;
    /* scrollbar */
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  .sidenav > .sidenav-link {
    width: auto;
    padding: 10px;
    border-right: solid white 1px;
  }

  /* This is the scrollbar track */
  .sidenav::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background: #f1f1f1;
  }

  /* This is the scrollbar handle */
  .sidenav::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* When you hover over the scrollbar */
  .sidenav::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #page-main {
    flex-direction: column;
  }
}

@media (max-width: 330px) {
  #page-content {
    justify-content: start;
    padding-left: 15px;
  }
}

/* ========================= */
/* Deleted CSS  */

/* .active-link {
  color: white !important;
}
 */
/* .footer {
  width: 100%;
  bottom: 0;
}
 */

/* #content-wrap {
   flex: 1;
   helps footer sit on bottom
 } */

/* ========================= */
/* Backup CSS  */

/* .sidenav {
  border: solid white 2px;
  font-size: 1.4rem;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 150px;
  height: 100vh;
  flex-shrink: 0;
}

.sidenav > .sidenav-link {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
}

.sidenav > .sidenav-link:hover {
  color: white;
  background-color: rgb(114, 114, 114);
}

.sidenav > .sidenav-link.active {
  background-color: rgb(250, 255, 206);
  color: #030000;
} */

/* ================== */
